<style>
    #mapCanvas {
        height: 600px;
    }
</style>
@section jsFooter{
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="/Content/js/controller/contactController.js"></script>
    <script>

        // This example displays a marker at the center of Australia.
        // When the user clicks the marker, an info window opens.
        //21.046300, 105.793266
        function initMap() {
            var uluru = { lat: 21.046300, lng: 105.793266 };
            var map = new google.maps.Map(document.getElementById('mapCanvas'), {
                zoom: 18,
                center: uluru
            });

           

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: 'Địa chỉ'
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>


}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h2>Mọi ý kiến đóng góp vui lòng gửi cho chúng tôi tại đây<br />
                 hoặc đến cửa hàng của chủng tôi!</h2>
                <br /><h3>HPShop- 525/9/17 - Quang Trung - Gò Vấp</h3>

                <br />
                <h2>Ý kiến phản hồi!</h2>
                @*@{
                        var session = (UserLogin)Session[DoAn.Common.CommonConstans.USER_SESSION];

                    }
                    @{if (Session[DoAn.Common.CommonConstans.USER_SESSION] == null)
                        {*@
                <form>
                    <div class="form-group">
                        <label>Họ tên</label>
                        <input type="text" id="txtName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Điện thoại</label>
                        <input type="text" id="txtMobile" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input type="text" id="txtAddress" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" id="txtEmail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Yêu cầu</label>
                        <textarea id="txtContent" class="form-control"></textarea>
                    </div>
                    <button id="btnSend" class="btn btn-success">Gửi đi</button>
                </form>
                @*}
                        else
                        {
                            <form>
                                <div class="form-group">
                                    <label>Họ tên</label>
                                    <input type="text" id="txtName" class="form-control" value="@session.Name" />
                                </div>
                                <div class="form-group">
                                    <label>Điện thoại</label>
                                    <input type="text" id="txtMobile" class="form-control" value="@session.Phone" />
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input type="text" id="txtAddress" class="form-control" value="@session.Address" />
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" id="txtEmail" class="form-control" value="@session.Email" />
                                </div>
                                <div class="form-group">
                                    <label>Yêu cầu</label>
                                    <textarea id="txtContent" class="form-control"></textarea>
                                </div>
                                <button id="btnSend" class="btn btn-success">Gửi đi</button>
                            </form>
                        }
                    }*@


            </div>

            <div class="col-md-6">
                <h2>Bản đồ</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.123669593073!2d106.71265711427951!3d10.801839092304299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2zSFVURUNIIC0gxJDhuqFpIGjhu41jIEPDtG5nIG5naOG7hyBUUC5IQ00!5e0!3m2!1svi!2s!4v1498827245659" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                @*<div class="map" id="mapCanvas"></div>*@
            </div>
        </div>
    </div>
</div>

