
@{
    ViewBag.Title = "Đã đặng hàng thành công";
}

<div class="alert alert-success">
    <font color="Red" size="5px">Đơn hàng của bạn đã được gửi, chúng tôi sẽ kiểm tra và liên hệ với bạn sớm nhất, xin cảm ơn!</font>
    <div class="example">
        <div class="container">
            <div class="row">
                <a href="/" button type="button" class="btn btn-success" size="5px">Quay lại Trang Chủ!</abutton></a>
            </div>
        </div>
    </div>
</div>

